@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
body{
    margin: 0px;

}

.desconto{
    background-color: #FA77AB;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.nav .logo img{
    width: 100px;
    height: 100px;
}
.nav .car img{
    width: 100px;
    height: 100px;
}
.banner{
    display: flex;
    flex-direction: row;
    background-color: #FF9DC4;
    padding: 1rem;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
}
.banner img{
  width: 400px;
  height: 350px;
}
.main{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}
.itens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item-carrinho{
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.total{
    display: flex;
    flex-direction: row;
}
.total button{
    border: 0px;
    text-decoration: underline;
    background-color: white;

}
.product{
    display: flex ;
    flex-direction: row;
    align-items: center;
}
.pedidos{
    display: flex;
    flex-direction: column;
}
.img{
    margin-right: 20px;

}

.detalhes h3{
    font-size: 30px;
}
.detalhes p{
   font-size: 15px;
}
.resumo{
    border: 1px solid black;
    height: 98px;
}
.divPreco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
}
.resumo button{
    border: 0px;
    padding: 12px 8px;
    width: 300px;
    height: 48px;
    background-color: #FA77AB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 40px;
    font-family: "Lato", sans-serif;
  }
 
.resumo button:hover{

        background-color: #f05895;
    
   
} 

.footer{
    background-color: #FA77AB;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .text{
    padding: 50px;
  }
  .Adress{
    display: flex;
    flex-direction: row;
  }