@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
body{
    margin: 0px;

}
.desconto{
    background-color: #FA77AB;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.nav .logo img{
    width: 100px;
    height: 100px;
}
.nav .car img{
    width: 100px;
    height: 100px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.detalhes{
    display: flex;
    flex-direction: row;
}
.img{
    margin-right: 50px;
}
.croche{
    display: flex;
    flex-direction: column;
  }
  .footer{
    background-color: #FA77AB;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .text{
    padding: 50px;
  }
  .Adress{
    display: flex;
    flex-direction: row;
  }
  .crochesas{
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }